name: Build and push Docker image

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Login
        # You may pin to the exact commit or the version.
        # uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567
        uses: docker/login-action@v3.3.0
        with:
          # Server address of Docker registry. If not set then will default to Docker Hub
        #   registry: ${{ vars.REGISTRY_ADDRESS }}

          # Username used to log against the Docker registry
          username: ${{ secrets.REGISTRY_USERNAME }}

          # Password or personal access token used to log against the Docker registry
          password: ${{ secrets.REGISTRY_PASSWORD }}

          # Specifies whether the given registry is ECR (auto, true or false)
          ecr: false

          # Log out from the Docker registry at the end of a job
          logout: true

      - name: Build and push Docker images
        # You may pin to the exact commit or the version.
        # uses: docker/build-push-action@5cd11c3a4ced054e52742c5fd54dca954e0edd85
        uses: docker/build-push-action@v6.7.0
        with:
          push: true
          tags: ${{ vars.REGISTRY_ADDRESS }}/jvelascoiti/velascoiti/backend-fast-api:${{ github.ref_name }}
